/* other pages, grey base */
.greyContainer {
  height: 100vh;
  width: 100vw;
  background-color: rgba(57, 57, 57, 0.5);
  position: absolute;
  top: 0;
  z-index: 2;
  /* clickable area to hide the page */
  .hideClickArea {
    width: 30%;
    height: 100vh;
  }
}

/* white text area */
.secondaryPageBackground {
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
}

.ctA{
  // width: 100vw;
  color: white! important;
  min-height: 40%;
  background-color: #e0e0e0;
  background-image: url("https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;

  background-repeat: no-repeat;
  // background-position: ;

}

.textBoxLanding{
  max-width: 50rem;
}


