.page {
    min-height: 80vh;
    /* box-sizing: ; */
    // border: 1px solid black;
    @extend .customBorder;
    position: absolute;
    width: 100%;
  }

  #all-pages {
    position: relative;
  }
  
  .hidden {
    /* move all page to the right by 100% */
    transform: translateX(140%);
    transition: transform 1s;
  }
  
  .show {
    transform: translateX(0);
    transition: transform 1s;
  }
  
  .advisorSearchBar{
    @extend .searchByAddressBar;
    width: 21rem;
  }

  .drugAdvisorPage{
    @extend .greyContainer;
    // background-color: red !important;
  }

  .primaryPageBackground {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    // background-image: linear-gradient($colorAccentOne, $colorSecondary);
    background-color: $colorAccentThree;
  }

  .closeMark{
    font-size: 3rem;
    color: white;
  }

  .drugNavBar{
    // background-color: white;
    color: rgb(155, 155, 155);
    font-size: 1rem;
    // margin-bottom: -0.5rem;;
    button{
      padding: 0.5rem;
      color: white;
      border: none;
      background-color: rgba($color: #000000, $alpha: 0);
    }
    i{
      color: $colorPrimary;
    }
  }

  .noBorderRadius{
    border-radius: 0 !important;
  }

  .changeBtnColorToWhite{
    background-color:#f8f9fa !important;
    color: #007197!important;
  }

  // for symtom checker page
  .symptomSearchResults{
    background-color: white;
    z-index: 2;
    font-size: 0.8rem;
    color: grey;
    width: 21rem;
    max-height: 20rem;
    overflow-y: scroll;
    div{
      &:hover {
        background: #cde6d2;
      }
    }

  }

  .searchSymptomInput{
    width: 18rem;
    line-height: 2.5rem;
  }

  .symptomBG{
    color: rgb(167, 167, 167);
    i{
      font-size: 10rem;
      color: #cde6d2;
    }
  }

  .symptomList{
    width: 21rem;
    min-height: 17rem;
    background-color: rgb(240, 240, 240);
    color: rgb(99, 99, 99);
    font-size: 1rem;
  }

  .symptomListBox{
    min-height: 13rem;
    // border: 1px solid black;
  }

  .oneSymptomStyle{
    border-bottom: 1px solid rgb(194, 194, 194);
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    span{
      color:rgb(39, 77, 88);
    }
    i{
      color: rgb(194, 194, 194);
    }
    &:hover {
      color: $colorAccentThree;
    }
  }

  .hideDiagnoseBtn{
    display: none;
  }

  .diseaseImage{
    float: right;
    width: 20rem;
  }


  //for disease match drug page
  .drugList{
    width: 20rem;
    padding: 1rem;
    display: flex;
    margin-top: 0.3rem;
    @extend .customBorder;
    .drugNameTitle{
      color:rgb(39, 77, 88);
    }
    .expandIcon{
      color: rgb(194, 194, 194);
      width: 20px;
      margin-left: auto;
    }
  }

  .colorAccentTwoAndScale{
    background-color: $colorAccentTwo;
    transform: scale(1.1);
  }

  .greyOut{
    background-color: rgb(212, 212, 212) !important;
    // transform: scale(0.9);
  }

  .drugResultsBox{
    width: 21rem;
    min-height: 17rem;
    background-color: rgb(240, 240, 240);
    background-image: url("../images/drugIcon.png");
    background-size: cover;
  }
  
  .hide{
    display: none;
  }

 .drugDetailHeader {
   color: #9acea6;
 }




