/* other pages, grey base */
.greyContainer {
  height: 100vh;
  width: 100vw;
  background-color: rgba(57, 57, 57, 0.5);
  position: absolute;
  top: 0;
  z-index: 2;
  /* clickable area to hide the page */
  .hideClickArea {
    width: 30%;
    height: 100vh;
  }
}

/* white text area */
.secondaryPageBackground {
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
}

.ctA{
  // width: 100vw;
  color: white! important;
  min-height: 40vh;
  // background-color: #e0e0e0;

  // background-position: ;

}

.ctAText{
  width: 40%;
}

.landingPageText{
  background-color: aliceblue;
  width: 100%;

}

.textBoxLanding{
  .landingPageListItem{
    width: 100%;
  };
  p{
    font-size: 0.7rem;
  }
}

.mainContentLanding{
  // border: 1px solid black;
  min-height: 90vh;
  // background-image: url("../images/landingPageBg.jpg");
  background-image: url("https://images.pexels.com/photos/3806953/pexels-photo-3806953.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;

  background-repeat: no-repeat;
}
.ctAHeader{
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid white;
}

.ctABg{
  background-color: rgba(0, 0, 0, 0.2);
}

/* css rules for devices screen larger than 1279px */
@media screen and (min-width: 1279px) {
  .ctAHeader{
    font-size: 4rem;
  }
  .landPageBtn{
    font-size: 2rem;
  }
}

/* css rules for devices from 769 to 1279px */
@media screen and (max-width: 1279px) {
  .ctAHeader{
    font-size: 2.5rem;
  }

  .landPageBtn{
    font-size: 1.5rem;
  }

}


/* css rules for devices from 481 to 768px */
@media screen and (max-width: 768px) {
  .ctAHeader{
    font-size: 1.8rem;
  }

  .landPageBtn{
    font-size: 1.3rem;
  }
}

/* css rules for devices from 0 to 480px */
@media screen and (max-width: 480px) {
  .ctAHeader{
    font-size: 1.5rem;
  }

  .landPageBtn{
    font-size: 1rem;
  }

  .landingPageNav{
    font-size: 0.6rem;
  }

}







