.makerPopUp{
    h1{
      background-color: $colorPrimary;
      color: white;
      padding: 0.5rem;
      font-size: 1rem;
    }
    button {
      margin-left: 12rem;
      color: white;
    }
  }