.makerPopUp{
    h1{
      background-color: $colorPrimary;
      color: white;
      padding: 0.5rem;
      font-size: 1rem;
    }
    button {
      margin-left: 12rem;
      color: white;
    }
    .markerAvatar{
      font-size: 3.5rem;
      color: $colorAccentThree;
    }
    .keyInfo{
      font-size: 0.8rem;
      font-style: bold;
      color: $colorAccentThree;
      // line-height: 1rem;
    }

    .address{
      margin: 0;
    }

  }
  
