/* google font */
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap");
/* color setting */
/* font family and size setting */
h1 {
  font-family: "Lora", serif;
  font-size: 1.5rem;
}

h2 {
  font-family: "Lora", serif;
  font-size: 1.2rem;
}

h3 {
  font-family: "Lora", serif;
  font-size: 1.1rem;
}

body {
  font-family: "Roboto", sans-serif;
}

.subText {
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  font-style: italic;
  color: grey;
}

/* border setting */
.customBorder, .listItemDesign, .page {
  border: 1px solid rgba(140, 140, 140, 0.7);
}

/*icon size and color*/
.primaryIconStyle {
  color: #ab5e69;
  font-size: 1.5rem;
}
.primaryIconStyle:hover {
  color: #8fb095;
}

.makerPopUp h1 {
  background-color: #ab5e69;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
}
.makerPopUp button {
  margin-left: 12rem;
  color: white;
}
.makerPopUp .markerAvatar {
  font-size: 3.5rem;
  color: #8fb095;
}
.makerPopUp .keyInfo {
  font-size: 0.8rem;
  font-style: bold;
  color: #8fb095;
}
.makerPopUp .address {
  margin: 0;
}

/* search bar and returned result */
.navBar {
  margin-left: 0.7rem;
  margin-top: 1rem;
  z-index: 2;
  position: absolute;
}

.result {
  margin-left: 0.7rem;
  margin-top: 5rem;
  position: absolute;
  background-color: white;
  z-index: 2;
  font-size: 0.8rem;
  color: grey;
  width: 23rem;
}

/* search drug store nearby */
.searchByAddressBar, .advisorSearchBar {
  border-radius: 1rem;
  height: 4rem;
  width: 23rem;
}
.searchByAddressBar button, .advisorSearchBar button {
  font-size: 1.5rem;
  color: #ab5e69;
}

.searchString {
  width: 16rem;
}

.borderRadiusNone {
  border-radius: 0 !important;
}

/* all the boxes setting*/
.primaryNavBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  padding-top: 1rem;
  font-size: 0.8rem;
  margin-left: 1rem;
  width: 5rem;
  height: 4rem;
  color: grey;
}
.primaryNavBtn:hover {
  color: #8fb095 !important;
}

/* css rules for devices from 0 to 480px */
@media screen and (max-width: 480px) {
  .searchString {
    width: 60vw;
  }

  .searchByAddressBar, .advisorSearchBar {
    width: 90vw;
  }

  .result {
    width: 90vw;
  }

  .leaflet-routing-container {
    display: none;
  }

  #mobileBottomNav {
    position: fixed;
    bottom: 0vh;
    left: 0;
    z-index: 4;
    width: 100vw;
    background-color: #fcfafa;
    justify-content: center;
  }
  #mobileBottomNav .primaryNavBtn {
    border: none;
    box-shadow: none !important;
    background-color: #fcfafa !important;
    font-size: 0.7rem;
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }

  .hideClickArea {
    width: 0%;
  }
}
/* css rules for devices from 481 to 768px */
@media screen and (max-width: 768px) {
  .leaflet-routing-container {
    display: none;
  }
}
/* css rules for devices from 769 to 1279px */
/* css rules for devices screen larger than 1279px */
/* other pages, grey base */
.greyContainer, .drugAdvisorPage {
  height: 100vh;
  width: 100vw;
  background-color: rgba(57, 57, 57, 0.5);
  position: absolute;
  top: 0;
  z-index: 2;
  /* clickable area to hide the page */
}
.greyContainer .hideClickArea, .drugAdvisorPage .hideClickArea {
  width: 30%;
  height: 100vh;
}

/* white text area */
.secondaryPageBackground {
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
}

.page {
  min-height: 80vh;
  /* box-sizing: ; */
  position: absolute;
  width: 100%;
}

#all-pages {
  position: relative;
}

.hidden {
  /* move all page to the right by 100% */
  transform: translateX(140%);
  transition: transform 1s;
}

.show {
  transform: translateX(0);
  transition: transform 1s;
}

.advisorSearchBar {
  width: 21rem;
}

.primaryPageBackground {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #8fb095;
}

.closeMark {
  font-size: 3rem;
  color: white;
}

.drugNavBar {
  color: #9b9b9b;
  font-size: 1rem;
}
.drugNavBar button {
  padding: 0.5rem;
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.drugNavBar i {
  color: #ab5e69;
}

.noBorderRadius {
  border-radius: 0 !important;
}

.changeBtnColorToWhite {
  background-color: #f8f9fa !important;
  color: #007197 !important;
}

.symptomSearchResults {
  background-color: white;
  z-index: 2;
  font-size: 0.8rem;
  color: grey;
  width: 21rem;
  max-height: 20rem;
  overflow-y: scroll;
}
.symptomSearchResults div:hover {
  background: #cde6d2;
}

.searchSymptomInput {
  width: 18rem;
  line-height: 2.5rem;
}

.symptomBG {
  color: #a7a7a7;
}
.symptomBG i {
  font-size: 10rem;
  color: #cde6d2;
}

.symptomList {
  width: 21rem;
  min-height: 17rem;
  background-color: #f0f0f0;
  color: #636363;
  font-size: 1rem;
}

.symptomListBox {
  min-height: 13rem;
}

.oneSymptomStyle {
  border-bottom: 1px solid #c2c2c2;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.oneSymptomStyle span {
  color: #274d58;
}
.oneSymptomStyle i {
  color: #c2c2c2;
}
.oneSymptomStyle:hover {
  color: #8fb095;
}

.hideDiagnoseBtn {
  display: none;
}

.diseaseImage {
  float: right;
  width: 20rem;
}

.listItemDesign {
  width: 20rem;
  padding: 1rem;
  display: flex;
  margin-top: 0.3rem;
}
.listItemDesign .itemItem {
  color: #274d58;
}
.listItemDesign .expandIcon {
  color: #c2c2c2;
  width: 20px;
  margin-left: auto;
}

.colorAccentTwoAndScale {
  background-color: #E0ffe7;
  transform: scale(1.05);
}

.drugResultsBox {
  width: 21rem;
  min-height: 17rem;
  background-color: #f0f0f0;
  background-image: url("../images/drugIcon.png");
  background-size: cover;
}

.hide {
  display: none;
}

.drugDetailHeader {
  color: #9acea6;
}

#downArrowIcon {
  font-size: 1rem;
  color: #c5c5c5;
}

#singaporeMap {
  height: 100vh;
  z-index: 1;
}

/* main body */
.mainContainer {
  position: relative;
}

.hideLeft {
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.show {
  transform: translateX(0);
  transition: transform 0.5s;
}

.leaflet-bar {
  margin-top: 6rem !important;
}/*# sourceMappingURL=style.css.map */