@import "./constant";
@import './marker';
@import "./mapPage";
@import "./appBriefPage";
@import "./drugAdvisorPage";

#singaporeMap {
  height: 100vh;
  z-index: 1;
}

/* main body */
.mainContainer {
  position: relative;
}


.hideLeft {
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.show {
  transform: translateX(0);
  transition: transform 0.5s;
}

// this reposition the default leaflet zoom in/out
.leaflet-bar{
  margin-top: 6rem !important;
}

.loader{
  display: none;
}

.displaySpinner{
  display: block !important;
}
