@import "./constant";
@import './marker';
@import "./mapPage";
@import "./appBriefPage";
@import "./drugAdvisorPage";

#singaporeMap {
  height: 100vh;
  z-index: 1;
}

/* main body */
.mainContainer {
  position: relative;
}

.primaryPageBackground {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.95);
}



.hideLeft {
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.show {
  transform: translateX(0);
  transition: transform 0.5s;
}

// this reposition the default leaflet zoom in/out
.leaflet-bar{
  margin-top: 6rem !important;
}

