/* google font */
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap");
/* color setting */
/* font family and size setting */
h1 {
  font-family: "Lora", serif;
  font-size: 1.5rem;
}

h2 {
  font-family: "Lora", serif;
  font-size: 1.2rem;
}

body {
  font-family: "Roboto", sans-serif;
}

.subText {
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  font-style: italic;
  color: grey;
}

/* border setting */
.customBorder, .drugList {
  border: 1px solid rgba(140, 140, 140, 0.7);
}

/*icon size and color*/
.primaryIconStyle {
  color: #ab5e69;
  font-size: 1.5rem;
}
.primaryIconStyle:hover {
  color: #8fb095;
}

.makerPopUp h1 {
  background-color: #ab5e69;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
}
.makerPopUp button {
  margin-left: 12rem;
  color: white;
}
.makerPopUp .markerAvatar {
  font-size: 3.5rem;
  color: #8fb095;
}
.makerPopUp .keyInfo {
  font-size: 0.8rem;
  font-style: bold;
  color: #8fb095;
}
.makerPopUp .address {
  margin: 0;
}

/* search bar and returned result */
#navBar {
  margin-left: 0.7rem;
  margin-top: 1rem;
  z-index: 2;
  position: absolute;
}

.result {
  margin-left: 0.7rem;
  margin-top: 5rem;
  position: absolute;
  background-color: white;
  z-index: 2;
  font-size: 0.8rem;
  color: grey;
  width: 23rem;
}

/* search drug store nearby */
#searchByAddressBar, .advisorSearchBar {
  border-radius: 1rem;
  height: 4rem;
  width: 23rem;
}
#searchByAddressBar button, .advisorSearchBar button {
  font-size: 1.5rem;
  color: #ab5e69;
}

.searchString {
  width: 16rem;
}

.borderRadiusNone {
  border-radius: 0 !important;
}

/* all the boxes setting*/
.primaryNavBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  padding-top: 1rem;
  font-size: 0.8rem;
  margin-left: 1rem;
  width: 5rem;
  height: 4rem;
  color: grey;
}
.primaryNavBtn:hover {
  color: #8fb095 !important;
}

/* css rules for devices from 0 to 480px */
@media screen and (max-width: 480px) {
  .searchString {
    width: 60vw;
  }

  #searchByAddressBar, .advisorSearchBar {
    width: 90vw;
  }

  .result {
    width: 90vw;
  }

  .leaflet-routing-container {
    display: none;
  }

  #mobileBottomNav {
    position: fixed;
    bottom: 0vh;
    left: 0;
    z-index: 4;
    width: 100vw;
    background-color: #fcfafa;
    justify-content: center;
  }
  #mobileBottomNav .primaryNavBtn {
    border: none;
    box-shadow: none !important;
    background-color: #fcfafa !important;
    font-size: 0.7rem;
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }

  .hideClickArea {
    width: 0%;
  }
}
/* css rules for devices from 481 to 768px */
@media screen and (max-width: 768px) {
  .leaflet-routing-container {
    display: none;
  }
}
/* css rules for devices from 769 to 1279px */
/* css rules for devices screen larger than 1279px */
/* other pages, grey base */
.greyContainer {
  height: 100vh;
  width: 100vw;
  background-color: rgba(57, 57, 57, 0.5);
  position: absolute;
  top: 0;
  z-index: 2;
  /* clickable area to hide the page */
}
.greyContainer .hideClickArea {
  width: 30%;
  height: 100vh;
}

/* white text area */
.secondaryPageBackground {
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
}

.page {
  height: 80vh;
  /* box-sizing: ; */
  border: 1px solid black;
  position: absolute;
  width: 100%;
}

#page-1 {
  background-color: aliceblue;
}

#page-2 {
  background-color: white;
}

#page-3 {
  background-color: aqua;
}

#all-pages {
  position: relative;
}

.hidden {
  /* move all page to the right by 100% */
  transform: translateX(100%);
  transition: transform 1s;
}

.show {
  transform: translateX(0);
  transition: transform 1s;
}

.advisorSearchBar {
  width: 21rem;
}

.drugList {
  background-color: #c2fbcd;
  width: 20rem;
  padding: 1rem;
  margin-top: 0.3rem;
  color: #525252;
}
.drugList .expandIcon {
  background-color: coral;
  font-size: 2rem;
  color: #cfcfcf;
  width: 20px;
}

#singaporeMap {
  height: 100vh;
  z-index: 1;
}

/* main body */
.mainContainer {
  position: relative;
}

.primaryPageBackground {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.95);
}

.hideLeft {
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.show {
  transform: translateX(0);
  transition: transform 0.5s;
}

.leaflet-bar {
  margin-top: 6rem !important;
}/*# sourceMappingURL=style.css.map */